@import '../../styles/variabless';

.modalMenu {
  width: 100%;
  position: fixed;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(0,0,0,.2);
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  transition: .2s;

  &.show {
    opacity: 1;
    visibility: visible;
  }
}

.hamburger {
  position: fixed;
  top: 0;
  right: 0;
  width: 50%;
  height: 100vh;
  background: #fff;
  z-index: 2;
  transition: 1s;
  transform: translateX(100%);
  
  &__btn {
    top: 35px;
    position: absolute;
    background: transparent;
    font-size: 20px;
    left: -48px;
    cursor: pointer;
  }

  &.show {
    transform: translateX(0);
  }

  &__login {
    padding: 20px;
  }

  &__list {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;

    &_item {
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-direction: column;
      height: 100%;

      a {
        text-decoration: none;
        font-weight: bold;
        font-size: 20px;
        color: #233878;
      }
    }
  }
}

@media screen and (max-width: $tablet) {
  .hamburger {
    width: 100%;

    &__btn {
      right: 0;
      left: auto;
      z-index: 3;
    }
  }
}