@import '../../styles/variabless';

.exchange {
  display: flex;
  margin-top: 80px;
  color: #233878;
  justify-content: space-between;

  &-form {
    width: 398px;
    height: 393px;
    color: black;
    background-color: #c4c4c4;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &-header {
    font-size: 38px;
    line-height: 47px;
    font-weight: 600;
    width: 423px;
  }

  &-description {
    font-size: 20px;
    line-height: 30px;
    width: 400px;
  }

  &-info {
    max-width: 50%;
  }
}

.slideSlick {
  width: 100%;
}

.currency-card {
  margin-right: 20px;
  box-sizing: border-box;
  padding: 18px 20px;
  width: 159px!important;
  height: 182px;
  background: white;
  box-shadow: 0 0 14px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}

.currency-cards-wrapper .currency-card:last-child {
  margin-right: 0;
}

.currency-to-result {
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 19px;
}

.currency-card-header {
  display: flex;
  margin-bottom: 14px;
}

.currency-from-symbol {
  margin-right: 7px;
}

.currency-from-name {
  margin-right: 3px;
}

.currency-to-name {
  margin-left: 3px;
}

.currency-difference {
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  line-height: 24px;
  color: #6165CD;
  margin-bottom: 20px;
}

.currency-updated-time {
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 14px;
  color: #B3B3B3;
  width: 100px;
}

.slick-slide {
  display: flex!important;
  justify-content: center;
}

.slick-list {
  padding: 20px 0;
}

.slickBtn {
  background: transparent;
}

.slickBtnPrev {
  top: 45%;
  position: absolute;
  left: -21px;
}

.slickBtnNext {
  top: 45%;
  position: absolute;
  right: -21px;
}

@media screen and (max-width: $large-tablet) {
  .exchange {
    flex-direction: column;

    &-info {
      max-width: none;
    }

    &-description {
      width: auto;
      text-align: center;
    }

    &-header {
      width: auto;
      text-align: center;
    }

    &-form {
      margin: auto;
    }
  }
}

@media screen and (max-width: $tablet) {
  .exchange {

    &-form {
      width: 100%;
      margin-top: 20px;
    }
  }

  .slick-list {
    padding: 20px 60px!important;
  }
}