@import "../../styles/variabless";

.trust-card-block {
  width: 50%;
  display: flex;
  justify-content: center;
}

.content-block-header {
  font-weight: 600;
  font-size: 25px;
  line-height: 30px;
  margin: 108px 0 35px;
}

.trust-cards-wrapper {
  display: flex;
  justify-content: space-between;
}

.trust-card {
  width: 225px;
  height: 330px;
  background: #FFFFFF;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  padding: 12px;
  box-sizing: border-box;
}

.trust-image-wrapper {
  text-align: center;
  margin: 20px 0;
}

.trust-card-header {
  font-size: 16px;
  line-height: 22px;
  text-align: center;
}

.trust-card-description {
  font-size: 12px;
  line-height: 19px;
  text-align: center;
}

.steps-wrapper {
  display: flex;
  justify-content: space-between;
}

.step {
  position: relative;
}

.steps-wrapper .step:last-child {
  margin-right: 0;
}

@media screen and (max-width: $large-tablet) {
  .trust-cards-wrapper {
    flex-wrap: wrap;
  }

  .trust-card-block {
    width: 50%;
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
  }
}

@media screen and (max-width: $tablet) {
  .trust-card-block {
    width: 100%;
  }

  .trust-card {
    width: 100%;
    max-width: 258px;
  }

  .content-block-header {
    margin-top: 46px;
  }
}