@import "../../styles/variabless";

.comments-cards-wrapper {
  display: flex;
  justify-content: space-between;
}

.comment-card {
  position: relative;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 38px;
  height: 270px;
  width: 490px;
  background: #FFFFFF;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
}

.comment-name {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
}

.comment-read-more {
  bottom: 30px;
  position: absolute;
  cursor: pointer;
  display: none;
  font-weight: bold;
  margin-top: 20px;
  font-size: 16px;
  text-decoration: underline;
}

.comment-text {
  font-size: 16px;
  line-height: 22px;
}

.comment-header {
  margin-bottom: 15px;
}

.fake-comments-warning {
  margin-top: 40px;
  box-sizing: border-box;
  background: #F9EEFF;
  border-radius: 10px;
  padding: 24px 38px;;
  width: 100%;
}

@media screen and (max-width: $desktop){
  .comment-card {
    width: 49%;
  }
}

@media screen and (max-width: $tablet){
  .comments-cards-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .comment-card {
    width: 100%;
    max-width: 261px;
    margin-bottom: 15px;
    height: auto;
  }

  .fake-comments-warning {
    max-width: 261px;
    margin: 40px auto 0;
  }

  .excellent-mark {
    text-align: center;
    margin-top: 10px;
    font-size: 10px;
  }
}