// Пути к папкам
$backgroundUrl: '/img/background';
$iconsUrl: '/img/icons';
// Главные переменные
$default-font: 'Montserrat', sans-serif;
// Цвета
$default-color: #233878;
// MEDIA
$mobile: 320px;
$tablet: 768px;
$large-tablet: 992px;
$desktop: 1200px;
$largeDesktop: 1920px;
