@import "../../styles/variabless";

// Шапка
.header-content {
  color: #233878;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
}

.header-login {
  display: flex;
  align-items: center;

  button {
    background: transparent;
  }
}
// Menu
.menu {
  height: 100%;
  display: flex;
  align-items: center;

  &-item {
    margin-right: 1.4em;
    cursor: pointer;
    padding: 10px;

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      text-decoration: underline;
    }
  }
}

// Modal Menu
.common-questions {
  display: none;
  z-index: 1;
  background: #FFFFFF;
  box-shadow: 0px 25px 20px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  padding-bottom: 22px;
  width: 900px;

  &-wrapper {
    position: absolute;
    width: 100%;
    left: 0;
    display: flex;
    top: 70px;
    justify-content: center;
    cursor: default;
  }
}

.question-columns-wrapper {
  padding: 24px 30px;
  display: flex;
  justify-content: space-between;
}

.question-column {

  .supports {
    width: 213px;
    height: 40px;
    left: 1225px;
    top: 144px;
    background: linear-gradient(90deg, #BA00FF -18.75%, #4538F3 128.75%);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    border-radius: 90px;
    border: none;
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 24px;
    color: white;
  }
}

.question-columns-wrapper {
  h4,ul,li {
    margin: 0;
    list-style: none;
    padding: 0;
  }

  h4 {
    font-size: 14px;
    line-height: 24px;
    color: #233878;
    margin-bottom: 15px;
  }
}

.questions-item {

  &:hover {
    background: #FFFFFF;
    box-sizing: border-box;
    padding: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    border-radius: 10px 10px 0 0;

    .common-questions {
      display: block;
    }

    a {
      margin-bottom: 10px;
      font-style: normal;
      font-weight: normal;
      font-size: 10px;
      line-height: 24px;
      text-decoration-line: underline;
      color: #3887E3;
    }
  }
}

.all-questions {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  padding: 15px 0;
  background-color: #F9EEFF;
  justify-content: center;
  color: #233878;
}

.question-arrow {
  width: 55px;
  margin-left: 20px;
}

@media screen and (max-width: $desktop) {
  .menu {

    &-item {
      padding: 5px;
    }
  }
}