@import "../../styles/variabless";

.partners {
  margin-bottom: 55px;
}

.partners-cards-wrapper {
  display: flex;
  justify-content: space-between;
}

.partner-card {
  width: 306px;
  height: 135px;
  display: flex;
  justify-content: center;
  align-items: center;

  background: #FFFFFF;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

@media screen and (max-width: $large-tablet) {
  .partner-card {
    width: 222px;
  }
}

@media screen and (max-width: $tablet) {
  .partners-cards-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .partner-card {
    margin-bottom: 15px;
  }
}