@import "../../styles/variabless";

.footer {
  background-color: #F4F0FA;
  color: #233878;
}

.footer-content {
  padding: 40px 0;
  display: flex;
  justify-content: space-between;
}

.footer-logo-info {
  width: 175px;
}

.footer-logo-info > div {
  width: 100%;
}

.company-info {
  background-color: #ECE0F2;
  text-align: center;
  padding: 10px;
  box-sizing: border-box;
  font-size: 10px;
}

.footer .phone {
  font-size: 22px;
}

.footer .email {
  font-size: 12.6px;
}

.footer .social-links {
  opacity: 0.2;
}

.footer .social-links a {
  text-decoration: none;
}

.footer .social-links a:hover {
  opacity: 0.8;
}

.footer-links > div {
  margin-bottom: 10px;
}

.footer .copyright {
  font-size: 10px;
  margin-bottom: 10px;
}

.payments {
  margin-top: 10px;
  display: flex;
}

.burger-wrapper {
  display: none;
}

.burger-button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.payment {
  margin-right: 10px;
}

.company-info-mobile {
  display: none;
}

.right-side {
  margin-left: 40px;
}

.for-developers {
  color: #233878;
  padding-top: 80px;
}

h4 {
  font-size: 20px;
}

.sticky-menu-wrapper {
  font-size: 16px;
  background: #FFFFFF;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  width: 234px;
  height: 490px;
  position: sticky;
  margin-top: 20px;
  padding: 30px 35px;
  box-sizing: border-box;
}

.sticky-menu-wrapper ul {
  padding: 0 17px;
  margin: 0;
}

.sticky-menu-wrapper ul li {
  margin: 7px 0;
}

.sticky-menu-wrapper p {
  margin: 10px 0;
}

.content-sides-wrapper {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: $large-tablet){
  .footer-links {
    margin: 0 10px;
  }
}

@media screen and (max-width: $tablet){
  .footer-content {
    flex-direction: column;
  }

  .footer-links {

    div {
      text-align: center;
      margin-bottom: 23px;
    }
  }

  .copyright {
    text-align: center;
  }

  .social-links {
    display: flex;
    justify-content: center;
  }

  .payments {
    justify-content: center;
  }
}