@import "../../styles/variabless";

.currencyBlock {
  background: url($backgroundUrl + '/illustration-currency.svg') no-repeat top left;
  padding: 146px 0 100px;
}

.form-mock {
  margin-top: 55px;
  height: 135px;
  color: black;
  background-color: #c4c4c4;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: $large-tablet) {
  .currencyBlock {
    padding: 0;
    background-size: contain;
  }
}

@media screen and (max-width: $tablet) {
  .currencyBlock {
    background: transparent;
  }
}