@import "styles/variabless";

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  padding: 0;
  margin: 0;
  font-family: $default-font;
  color: $default-color;
}

.mainBlock {
  background: url($backgroundUrl + '/illustration.svg') no-repeat left top;
  padding-top: 34px;
  height: 100vh;
}

button {
  outline: none;
  border: none;

  &:focus {
    outline: none;
  }
}

@media screen and (max-width: $tablet) {
  .mainBlock {
    background-size: contain;
  }
}