@import "../../styles/variabless";

.processesBlock {
  background: url($backgroundUrl + '/illustration-processes.svg') no-repeat right top;
  padding: 144px 0 176px;
}

.steps-wrapper {
  display: flex;
  justify-content: space-between;
}

.step {
  position: relative;
  display: flex;
  max-width: 280px;
}

.steps-wrapper .step:last-child {
  margin-right: 0;
}

.step-arrow-horisontal {
  position: absolute;
  left: 100%;
  top: 22px;
  width: 73px;
}

.step-arrow-horisontal.on-button {
  position: absolute;
  right: 0;
  top: 0;
}

.arrow-body {
  height: 2px;
  width: 55px;
  background-color: #233878;
  position: relative;
}

.arrow-body::before, .arrow-body::after {
  content: "";
  display: block;
  height: 2px;
  background-color: #233878;
  width: 10px;
  border-radius: 2px;
}

.step-arrow-horisontal .arrow-body::before {
  position: absolute;
  right: 0;
  top: -3px;
  transform: rotate(35deg);
}

.step-arrow-horisontal .arrow-body::after {
  position: absolute;
  right: 0;
  top: 3px;
  transform: rotate(-35deg);
}

.step-description {
  max-width: 275px;
}

@media screen and (max-width: $desktop) {
  .step {
    max-width: 250px;
  }
}

@media screen and (max-width: $large-tablet) {
  .processesBlock {
    padding: 0 0 60px;
    background-size: contain;
  }

  .step {
    max-width: 169px;
  }
}

@media screen and (max-width: $tablet) {
  .processesBlock {
    padding-bottom: 0;
    background: transparent;
  }

  .steps-wrapper {
    flex-direction: column;
  }

  .step {
    max-width: none;
    display: flex;
    flex-direction: column;

    &-arrow-vertical {
      margin: 10px 0;
    }
  }
}